.App {
  text-align: center;
  background-color: yellow;
  height: 100%;
}

.pokemon-title{
  margin: 0px;
  padding-top: 30px;
  width: 800px;
  height: 1px;
  margin: auto;
  overflow: hidden;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 300px;
  background-image: url(./images/pokemon.png);
}

.nameInput{
  width: 50%;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 20px;
  padding-left: 10px;
  box-shadow: 0px 0px 10px 10px grey;
}

/*CHARACTERlIST*/
.pokemonList{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.pokemonName{
  font-size: 20px;
  text-align: left;
  padding-left: 10px;
  padding-top: 8px;
  margin-bottom: 20px;
  font-weight: bold;
  text-transform: capitalize;
}

.pokemonImage{
  background-color: lightgrey;
  width: 200px;
  margin-right: 20px;
  margin-left: 20px;
}

.infoContainer{
  background-color: white;
  margin-left: 20px;
  height: 100px;
  width: 200px;
  margin-bottom: 30px;
}

.pokemonId{
  text-align: left;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 180px;
  position: absolute;
  top: 75%;
}

.pokemonType{
  margin: 1px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 3px;
}

.pokemonTypes{
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 100px;
  padding-left: 10px;
}
