.App {
  text-align: center;
  background-color: yellow;
  height: 100%;
}

.pokemon-title{
  margin: 0px;
  padding-top: 30px;
}

/*CHARACTERlIST*/
.pokemonList{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.pokemonName{
  font-size: 20px;
  text-align: left;
  padding-left: 10px;
  font-weight: bold;
  text-transform: capitalize;
}

.pokemonImage{
  background-color: lightgrey;
  width: 200px;
  margin-right: 20px;
  margin-left: 20px;
}

.infoContainer{
  background-color: white;
  margin-left: 20px;
  height: 100px;
  width: 200px;
  margin-bottom: 30px;
}

.pokemonType{
  margin: 1px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 3px;
}

.pokemonTypes{
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  width: 100px;
  padding-left: 10px;
}