.App {
  text-align: center;
}

/*CHARACTERlIST*/
.cartoonsList{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.cartoon{}
.cartoonName{
  background-color: aquamarine;
  margin-top: 20px;
  margin-right: 20px;
}

.cartoonUrl{
  background-color: palegoldenrod;
  margin-top: 5px;
  margin-right: 20px;
}